@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.links {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-size: 14px;
}
.links:focus-within {
  color: var(--color_blue);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: auto;
}

a:-moz-any-link {
  text-decoration: none;
}

a:any-link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul > li {
  list-style: none;
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 1200px;
}

.logo {
  color: rgb(33, 150, 243);
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-size: 26px;
  -moz-column-gap: 92px;
       column-gap: 92px;
  padding-right: 93px;
  outline: none;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.header {
  border-bottom: rgb(236, 236, 236) 1px solid;
}
.header__navigation {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin: auto;
  height: 80px;
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  outline: none;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-right: 306px;
  text-align: center;
  padding-bottom: 32px;
  padding-top: 32px;
}

.header__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  align-items: center;
}

.header_link {
  color: rgb(33, 33, 33);
  outline: none;
  margin: auto;
  height: 100%;
  display: inline-block;
  position: relative;
}
.header_link:hover::after, .header_link:focus::after, .header_link:focus-within::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
  left: 0px;
  bottom: -32px;
}

.header_link:hover {
  color: rgb(33, 150, 243);
}
.header_link:hover:focus {
  color: rgb(33, 150, 243);
}

.current::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
  left: 0px;
  bottom: -32px;
}

.header_link.current {
  color: rgb(33, 150, 243);
}

.mail_contact.current {
  fill: rgb(33, 150, 243);
  color: rgb(33, 150, 243);
}

.header__contact-list {
  padding-right: 0px;
  margin-right: 30px;
  border-right-width: 10px;
  cursor: pointer;
  fill: rgb(117, 117, 117);
}
.header__contact-list:hover {
  fill: rgb(33, 150, 243);
}
.header__contact-list:focus {
  fill: rgb(33, 150, 243);
}
.header__contact-list :focus-within {
  fill: rgb(33, 150, 243);
}

.header__phone {
  color: rgb(117, 117, 117);
  outline: none;
}
.header__phone:focus {
  color: rgb(117, 117, 117);
}
.header__phone:focus-within {
  color: rgb(33, 150, 243);
}

.header__phone:hover {
  color: rgb(33, 150, 243);
}
.header__phone:hover:active {
  color: rgb(33, 150, 243);
}

.header__email {
  color: rgb(117, 117, 117);
  outline: none;
}
.header__email:focus {
  color: rgb(33, 150, 243);
}
.header__email:focus-within {
  color: rgb(33, 150, 243);
}

.header__email:hover {
  color: rgb(33, 150, 243);
}
.header__email:hover:active {
  color: rgb(33, 150, 243);
}

.header__sobre {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-bottom: -2px;
}

.header__cel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.head_container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/*comienza el main en sass*/
.head__background {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 33, 33);
  text-align: center;
}
.head__background-imagen {
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(0, 0, 0, 0.4)), url("../images/services/bg_imagen.jpg");
  background-size: cover;
  background-position: bottom center;
}

.head__title {
  font-family: inherit;
  text-align: center;
  display: flex;
  margin-left: 260px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  padding-top: 200px;
  width: 696px;
  margin-top: 0px;
}

.head__button {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  cursor: pointer;
  display: inline-flex;
  border-radius: 4px;
  width: 261px;
  height: 50px;
  margin-bottom: 200px;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  outline: none;
}

.head__button:hover {
  box-shadow: rgb(0, 0, 0) 0px 4px 4px 0px;
}
.head__button:hover:focus-within .head__button:hover:focus {
  box-shadow: rgb(0, 0, 0) 0px 4px 4px 0px;
}

.about__list {
  font-family: "Roboto";
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding-top: 82px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.about__images {
  width: 270px;
  padding-right: 100px;
  padding-left: 100px;
}

.about__title {
  color: rgb(33, 33, 33);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.about__title:hover {
  color: rgb(117, 117, 117);
}

.about__text {
  font-family: inherit;
  font-style: normal;
  color: rgb(117, 117, 117);
  font-weight: 400;
  line-height: 1.7;
  size: 14px;
  letter-spacing: 0.03em;
}
.about__container {
  margin: auto;
  width: 270px;
}

.services {
  margin: auto;
  justify-content: center;
}
.services__title {
  color: rgb(33, 33, 33);
  font-family: inherit;
  text-align: center;
  font-weight: 700;
  line-height: 1.16;
  font-size: 36px;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin-top: 99px;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  -moz-column-gap: 37px;
       column-gap: 37px;
  position: relative;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  -moz-column-gap: 37px;
       column-gap: 37px;
  position: relative;
}
.services__images {
  position: relative;
}
.services__text {
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: inherit;
  line-height: normal;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  width: 372px;
  height: 70px;
  bottom: 3px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
}

.team__title {
  color: var(--color_black);
  font-family: inherit;
  text-align: center;
  font-weight: 700;
  line-height: 1.16;
  font-size: 36px;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin-top: 188px;
}/*# sourceMappingURL=main.css.map */