.head__background{
    color: $color_white;
    background-color: $color_black;
    text-align:center;
    &-imagen{
        background-image: linear-gradient(to bottom,rgba(47, 48, 58, 0.4),rgba(0, 0, 0, 0.4)),
            url("../images/services/bg_imagen.jpg");
        background-size: cover;
        background-position: bottom center;
    }   
}
.head__title{
    font-family: inherit;
    text-align: center;
    display: flex;
    margin-left: 260px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    padding-top: 200px;
    width: 696px;
    margin-top: 0px
}
.head__button{
    color: $color_white;
    background-color: $color_blue;
    cursor: pointer;
    display: inline-flex;
    border-radius: 4px;
    width: 261px;
    height: 50px;
    margin-bottom: 200px;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    outline: none;
}
.head__button:hover{
    box-shadow: rgb(0, 0, 0) 0px 4px 4px 0px;
    &:focus-within , &:focus
    {
        box-shadow: rgb(0, 0, 0) 0px 4px 4px 0px;
    }
}
.about{
    &__list{
        font-family: 'Roboto';
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        padding-top: 82px;
        column-gap: 30px;
    }
    &__images{
        width: 270px;
        padding-right: 100px;
        padding-left: 100px;
    }
}
